html{
  background-color: #101214
}


.box{
  width:200px;
  transition: background-colour 2s;
  height:200px;
  color: #ecf0f1;
  text-align: center;
  line-height: 150px;
  vertical-align:middle;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #2A2A2A
}

/*
  Menu Styling
*/



/*
 Box Styling
*/
.box-head{
  .box;
  height:50px;
  line-height: 50px;
  font-weight:bold;
  background-color: #272727;
}

.small{
  width: 100px;
  height: 100px;
  line-height: 75px;
}

.small .box-head{
  height:25px;
  line-height: 25px;
}

.large{
  width: 400px;
  height: 400px;
  line-height: 300px;
}

/*
.green{
  background-color: #2ecc71;
}

.green:hover{
 background-color: #3fdc91;
}

.green .box-head{
 background-color: #27ae60;
}

.blue{
  background-color: #3498db
}

.blue:hover{
  background-color: #44a8eb
}

.blue .box-head{
  background-color: #2980b9
}

.red{
  background-color: #e74c3c
}

.red:hover{
  background-color: #f75c4c
}

.red .box-head{
  background-color: #c0392b
}
*/
