html{
  background-color: #101214
}



/*
  Menu Styling
*/



/*
 Box Styling
*/

.box{
  width:250px;
  transition: background-colour 2s;
  height:250px;
  color: #ecf0f1;
  text-align: center;
  line-height: 200px;
  vertical-align:middle;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  background-color: #2A2A2A
}

.box-head{
  .box;
  height:50px;
  line-height: 50px;
  font-weight:bold;
  text-align: left;
  padding-left: 10px;
  background-color: #272727;
  font-size: 20px;
}

.small{
  width: 100px;
  height: 100px;
  line-height: 75px;
  font-size: 20px;
}

.small .box-head{
  height:25px;
  line-height: 25px;
  font-size: 12px;
}

.large{
  width: 500px;
  height: 500px;
  line-height: 400px;
  font-size: 60px;
}

/*
.green{
  background-color: #2ecc71;
}

.green:hover{
 background-color: #3fdc91;
}

.green .box-head{
 background-color: #27ae60;
}

.blue{
  background-color: #3498db
}

.blue:hover{
  background-color: #44a8eb
}

.blue .box-head{
  background-color: #2980b9
}

.red{
  background-color: #e74c3c
}

.red:hover{
  background-color: #f75c4c
}

.red .box-head{
  background-color: #c0392b
}
*/
