html{
  background-color: #101214
}

/*
  Main Styling
*/
main{
  margin:10px;
}

/*
 Box Styling
*/

.hidden{
  display:none;
}

#navbar{
  list-style-type: none;
  margin: 10px;
  padding:0;
  overflow: hidden;
  background-color: #2A2A2A;
}

#navbar li{
  float: left;
  width:25%;
}

#navbar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar li a:hover{
  background-color: #111;
}

.fade{
  opacity: 0.5;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 9;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
}

.fade-box{
  z-index: 10;
  background-color: #ecf0f1;
  width:400px;
  height:300px;
  left:40%;
  position: absolute;
  margin-top: auto;
  border-radius: 10px;
  padding:5px;
  display: none;
  margin-bottom: 50%;
}

.fade-button{
  float:right;
  background-color: red;
  padding:10px;
  border-radius: 20px;
}

.fade-title{
  font-weight: bold;
  padding: 10px
}

.fade-content{
  margin-top:10px;
  height:220px;
  border-style: solid;
  border-color: #3498db;
  padding:10px;
}

.box{
  width:250px;
  transition: background-colour 2s;
  height:250px;
  color: #ecf0f1;
  text-align: center;
  line-height: 200px;
  vertical-align:middle;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  background-color: #2A2A2A;
  margin:10px;
  display:inline-block;
  /*box-shadow: 2px 2px 1px #2c3e50; Box shadow? Maybe? Maybe not?*/
}

.box-head{
  height:25px;
  line-height: 25px;
  font-weight:bold;
  text-align: left;
  padding-left: 10px;
  background-color: #272727;
  font-size: 20px;
}

.box-ele{
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
  background-color: #272727;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-head-ele{
  background-color:white;
  color:black;
  width:200px;
  display:inline;
}

.move-toggle{
  background-color: white;
  float:right;
  height:25px;
  width:25px;
  border-radius: 25px;
  border:5px;
}

@keyframes move-toggle_frame{
  0%{
    background-color: #ecf0f1;
  }
  100%{
    background-color: #34495e;
    color:white;
  }
}

.move-toggle:hover{
  animation: move-toggle_frame 0.2s;
  animation-fill-mode:forwards;
  animation-timing-function: ease-out;
}

@keyframes move-toggle-click{
  0%{
    background-color: #34495e;
  }
  100%{
    background-color: #e74c3c;
  }
}

.move-toggle-click{
  background-color: #ecf0f1;
  float:right;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  border: 5px;
  animation: move-toggle-click 0.5s;
  animation-fill-mode:forwards;
  animation-timing-function: ease-in;
}

.small{
  width: 100px;
  height: 100px;
  line-height: 75px;
  font-size: 20px;
}

.small .box-head{
  height:25px;
  line-height: 25px;
  font-size: 12px;
}

.large{
  width: 500px;
  height: 500px;
  line-height: 400px;
  font-size: 60px;
}

.long{
  height:500px;
  line-height: 400px;
}

.wide{
  height: 500px;
  width: 800px;
  line-height: 400px;
  font-size: 60px;
}

.upload{
  background-color:#272727;
  line-height:10px;
  height:40px;
  margin:10px;
}

.file-viewer{
  background-color:#272727;
  height:375px;
  width:350px;
  float: left;
  margin: 5px;
  margin-top:5px;
  margin-bottom: 0px;
  overflow-x: auto;
}

.file-viewer li{
  list-style: none;
  font-size: 15px;
  height: 20px;
  background-color: white;
  margin-top: 10px;
  color: black;
  line-height: 20px
}

@keyframes file-hover{
  0%{
    background-color: white;
  }
  100%{
    background-color: #34495e;
    color:white;
  }
}

.file-viewer li:hover{
  animation: file-hover 0.2s;
  animation-fill-mode:forwards;
  animation-timing-function: ease-out;
}

.file-buttons{
  background-color:#272727;
  height:200px;
  width:120px;
  font-size: 17px;
  float:right;
  margin-right: 10px;
  line-height: 25px;
}

.file-buttons li{
  height:50px;
  list-style: none;
  line-height: 40px;
  margin: 5px;
}

.file-download{
  background-color: #2ecc71;
}

.file-modify{
  background-color: #f1c40f;
}

.file-delete{
  background-color: #e74c3c;
}

.file-refresh{
  background-color: #9b59b6;
}

#file-selected{
  background-color: #34495e;
  color:white;
}
#todo-list{
  height:400px;
  line-height: 20px;
  font-size:20px;
  list-style-type:none;
  padding:1px;
  overflow-y: scroll;
}

#todo-list li{
  margin: 5px;
}
@keyframes listHover {
  100%{  border-color: blue; border-style: solid;font-size: 25px;}
}
#todo-list li:hover{
 animation-name: listHover;
 animation-duration: 0.3s;
 animation-fill-mode:forwards;
}

#todo-enter{
  line-height: 20px;
  font-size:20px;
  list-style-type:none;
  padding:0px;
  margin-top: 5px;
}

@keyframes todo-button{
  0%{
    color: white;
  }
  100%{
    color: #2ecc71;
  }
}

#todo-button{
  float:right;
  padding-right:8px;
  padding-top:3px;
  border-right:5px;
}

#todo-button:hover{
  animation-name: todo-button;
  animation-duration: 0.3s;
  animation-fill-mode:forwards;
}

#tweet-list{
  font-size: 10px;
  line-height: normal;
  list-style-type: none;
  padding-left: 0px;
}

#tweet-list ul{
  margin: 10px
}

#tweet-list li{
  background-color: #101214;
  margin:10px
}

#tweet-list li:hover{
  animation: file-hover 0.2s;
  animation-fill-mode:forwards;
  animation-timing-function: ease-out;
}

.tweet-item{
  height:70px;
}

.tweet-item div{
  background-color:white;
  color:black;
}

.tweet-item img{
  float:left;
}

#gallery-next{
  width:50px;
  height:475px;
  background-color:#272727;
  float:right;
  line-height:450px;
}

@keyframes next-hover{
  0%{
    background-color: #272727;
  }
  100%{
    background-color: #2ecc71;
    color:white;
  }
}

#gallery-next:hover{
  animation: next-hover 0.2s;
  animation-fill-mode:forwards;
  animation-timing-function: ease-out;
}

@keyframes previous-hover{
  0%{
    background-color: #272727;
  }
  100%{
    background-color: #e74c3c;
    color:white;
  }
}

#gallery-previous{
  width:50px;
  height:475px;
  background-color:#272727;
  float:left; line-height:450px;
}

#gallery-previous:hover{
  animation: previous-hover 0.2s;
  animation-fill-mode:forwards;
  animation-timing-function: ease-out;
}
